* {
    padding :0;
    margin :0;
}
.p{
    border: 30px solid white;
   background-color:paleturquoise;
    height:300px;
    text-align:center;
    
}
.p img {
    width:300px;
    height:200px;
    border-radius:100%;
   margin-top:30px; 
   
   
   
} 

.p > div img{
    width:200px;
    height : 200px;
    border-radius :50%;
}

.info li{
border:5px solid white;
background-color:powderblue;
border-radius:50px;
font-weight:bolder;
font-size: 25px;
margin-top:20px;
margin-right:70%;
padding-left:2%;
padding-bottom:1%;
box-sizing:border-box;
}

.info h3{
    text-align:right;
    margin-left :60%;
    
    
}
.p table{
    
    margin-left:36%;
    margin-top:2%;
    font-size:20px;
    background-color:turquoise;
    font-weight:bolder;
}
.p h1{
    font-size :40px;
    margin-left:2%;
    margin-top:3%;
}

.info p{
 
    margin-left:70%;
    text-align:right;
    border: 3px solid black;
}


